<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Document Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="photo">

  <ion-item>
    <ion-label>Document Type</ion-label>
    <ion-input [(ngModel)]="documentType" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Country Code</ion-label>
    <ion-input [(ngModel)]="countryCode" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>First Name</ion-label>
    <ion-input [(ngModel)]="firstName" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Last Name</ion-label>
    <ion-input [(ngModel)]="lastName" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Document Number</ion-label>
    <ion-input [(ngModel)]="documentNumber" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Sex</ion-label>
    <ion-input [(ngModel)]="sex" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Birth Date</ion-label>
    <ion-input [(ngModel)]="birthDate" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Expiry Date</ion-label>
    <ion-input [(ngModel)]="expireDate" readonly></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
